// ==============================================
// Variables
// ==============================================

$small: 640px;

// Colours
$white: rgb(255, 255, 255);
$black: rgb(40, 40, 40);
$red:   rgb(189, 0, 22);
