// ==============================================
// Answers component styles
// ==============================================

.answers-question {
    font-weight: bold;
    margin: 0 0 5px;
}

.answers-answer {
    margin: 0 0 10px;
}
