// ==============================================
// App styles
// ==============================================

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $red;
    color: $black;
    font-family: 'Lato', sans-serif;
}

.text-logo {
    color: $red;
    font-style: normal;
}
