// ==============================================
// Form styles
// ==============================================

.form {
    margin: 0 auto 50px;
    padding: 40px 20px 20px;
    text-align: center;

    @include break() {
        width: $small;
    }
}
