// ==============================================
// Form styles
// ==============================================

.form {
    margin: 0 auto;
    padding: 40px 20px 20px;

    @include break(small) {
        width: $small;
    }
}
