// ==============================================
// Header component styles
// ==============================================

.header {
    background: $white;
    padding: 20px 0 50px;
    position: relative;
    text-align: center;
}

.header::after {
    border-color: transparent transparent transparent $red;
    border-style: solid;
    border-width: 40px 0 0 calc(100vw - 15px);
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

    .header-logo {
        height: auto;
        width: 80%;

        @include break() {
            width: 500px;
        }
    }
