// ==============================================
// Header component styles
// ==============================================

.header {
    background: $white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
    padding: 20px 0 50px;
    position: relative;
    text-align: center;
}

    .header-logo {
        height: auto;
        width: 80%;

        @include break() {
            width: 500px;
        }
    }
