// ==============================================
// Results section styles
// ==============================================

.results {
    background: $white;
    padding: 30px 0 20px;
    position: relative;
    text-align: center;
}

.results > .button {
    margin-bottom: 10px;
}
