// ==============================================
// Table component styles
// ==============================================

.table {
    margin: 20px;
    width: calc(100% - 40px);
}

    .table-header .table-row {
        background: $black;
        color: $white;
    }

    .table-row {
        background: $white;
        text-align: left;

        &:nth-of-type(even) {
            background: $grey;
        }
    }

        .table-row-cell {
            font-weight: 400;
            padding: 20px;
        }

        .table-row-cell.mod-hide-small {
            display: none;

            @include break() {
                display: table-cell;
            }
        }
